aiohappyeyeballs==2.6.1
aiohttp==3.13.4
aiosignal==1.4.0
anyio==4.13.0
asttokens==3.0.1
attrs==26.1.0
biopython==1.86
biotite==1.6.0
biotraj==1.2.2
boto3==1.42.79
botocore==1.42.79
brotli==1.2.0
certifi==2026.2.25
charset-normalizer==3.4.6
cloudpathlib==0.23.0
colorama==0.4.6
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
decorator==5.2.1
dna_features_viewer==3.1.5
einops==0.8.2
esm==3.2.3
executing==2.2.1
filelock==3.25.2
fonttools==4.62.1
frozenlist==1.8.0
fsspec==2026.3.0
gemmi==0.7.5
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==0.36.2
idna==3.11
ipython==9.12.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.8
jedi==0.19.2
Jinja2==3.1.6
jmespath==1.1.0
joblib==1.5.3
jupyterlab_widgets==3.0.16
kiwisolver==1.5.0
MarkupSafe==3.0.3
matplotlib==3.10.8
matplotlib-inline==0.2.1
mpmath==1.3.0
msgpack==1.1.2
msgpack-numpy==0.4.8
multidict==6.7.1
networkx==3.6.1
numpy==1.26.4
packaging==26.0
pandas==3.0.2
parasail==1.3.4
parso==0.8.6
pillow==12.1.1
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==7.2.2
pure_eval==0.2.3
py3Dmol==2.5.4
pydssp==0.9.1
Pygments==2.20.0
pygtrie==2.5.0
pyparsing==3.3.2
python-dateutil==2.9.0.post0
PyYAML==6.0.3
regex==2026.3.32
requests==2.33.0
s3transfer==0.16.0
safetensors==0.7.0
scikit-learn==1.8.0
scipy==1.17.1
setuptools==81.0.0
six==1.17.0
stack-data==0.6.3
sympy==1.14.0
tenacity==9.1.4
threadpoolctl==3.6.0
tokenizers==0.21.4
torch @ file:///C:/Users/user/Downloads/torch-2.2.0%2Bcu118-cp312-cp312-win_amd64.whl#sha256=183b17fced6d344cd93a385a0c5f98e3f31abd254b0aed4741e921115d8de7a8
torch-geometric==2.7.0
torch_cluster==1.6.3+pt22cu118
torch_scatter==2.1.2+pt22cu118
torch_sparse==0.6.18+pt22cu118
torch_spline_conv==1.2.2+pt22cu118
torchtext==0.18.0
torchvision==0.26.0
tqdm==4.67.3
traitlets==5.14.3
transformers==4.48.1
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
wcwidth==0.6.0
widgetsnbextension==4.0.15
xxhash==3.6.0
yarl==1.23.0
zstd==1.5.7.3
